@media screen and (min-width:768px){

    .container{
        width: 960px;
    }
    
    .container{
        width: 960px;
    }

    button{
        cursor: pointer;
    }
    /* czyli każdy button na stronie a nie jakis konkretny */

    .btn{
        transition: 1s all;
    }

    .btn:hover{
        background-color: white;
        color:black;
    }

    .nav-links{
        display: block;
    }

    .nav-links a{
    /* .nav-links a - mowimy ze LINKI w tym divie .nav-links mają mieć ten margines
        .nav-links - tu bysmy nadali margines całemu divowi */
        margin-left: 45px;
    }
            
    .nav-links-disabled{
        cursor: not-allowed;
        opacity: .6;
    }

    .nav-links a:first-of-type{
        margin-left: 0;
    }
    /* tu się pozbywamy lewego marginesu przy pierwszym linku "O nas" */
    
    .box-container{
        display: grid;
        grid-template-columns: 25% 25% 25%;
    }
}