body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 94%;
    margin: 0 auto;
    /* wyśrodkowuje nam nasz container - tak jak tablica
    na facebooku */
}

.btn{
    font-size: 18px;
    color: white;
    background: transparent;
    padding: 8px 45px;
    border: 3px solid white;
}

nav{
    background-color: #4E4E4E;    
    font-size: 18px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav .container{
    display: flex;
    justify-content: space-between;
        /* odnosimy sie do odleglosci elementow w poziomie
    space-between - pomiedzy nimi beda rowne przerwy */
    align-items: center;
    /* align-items - dotyczy układania elementow w pionie */
    height: 50px;
}

nav .container > a{
    /* > znaczy:  a które jest bespośrednio w cointenerze w nav
    (czyli pozostałych 3 a nam nie złapie) */
    font-weight: bold;
    color: white;
}

nav a{
    color: #F1F1F1;
    text-decoration: none;
}

.nav-links{
    display: none;
}

.landing-page{
    height: 100vh;
    /* 100vh = 100 view point height */
    padding-top: 50px;
    box-sizing: border-box; 
    background-image: url('https://picsum.photos/1680/1050');
    background-size: cover;
    /* rozciąga nam obrazek na nasz div */
    background-position: center;
    color: white;
}

.landing-page-shadow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    /* można byłoby zrobić tak lae to nie jest dobry pomysł:
    opacity: .2; 
    dlatego że rozjedzie nam się z naszym tłem*/
    /* rbga(red, blue, green, przezroczystość) */
}

.landing-page-shadow .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.landing-page-hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 30%;
    font-weight:bold;
}

.landing-page-hero-text h1{
    font-size: 36px;
}

.landing-page-hero-text h2 {
    font-size: 18px;
}

.our-crew{
    padding: 50px 0px;
    background:#F1F1F1;
}

.our-crew h2{
    color: #152D41;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}

.employee{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
}

.employee:nth-last-of-type{
    margin-bottom: 0;
}

.employee-pic{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    /* margin-right: 50px; */
    flex-shrink: 0;
    border-radius: 50%;
}

.employee-text{
    font-size: 18px;
    text-align: justify;
}

.employee-text h3{
    font-weight: bold;
    margin-bottom: 25px ;
}

.offer{
    padding: 50px 0;
    background-color: #405D78;
}

.offer h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}

.box-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;    
    grid-row-gap: 2%;
    width: 98%;
    justify-content: center;
    }

.box-container > .box:after{
    content:"";
    display: block;
    padding-bottom: 100%;
    background-color:#F1F1F1;
}

.box-container > .box{
    position: relative;
}

.box-container .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.content{
    font-size: 24px;
}

.box:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}

.dot{
    position: absolute;
    top:-15px;
    left:-15px;
    width: 30px;
    height: 30px;
    background:#E07A64;
    border-radius: 50%; 
}

footer{
    background-color: #4E4E4E;    
    font-size: 18px;
    position: static;
    width: 100%;
    z-index: 1;
    color: white;
}

footer .container{
    display: flex;
    justify-content: space-between;
        /* odnosimy sie do odleglosci elementow w poziomie
    space-between - pomiedzy nimi beda rowne przerwy */
    align-items: center;
    /* align-items - dotyczy układania elementow w pionie */
    height: 50px;
}

footer .container > i{
    /* > znaczy:  a które jest bespośrednio w cointenerze w nav
    (czyli pozostałych 3 a nam nie złapie) */
    font-weight: bold;
}

footer i{
    color: #F1F1F1;
    font-size: 30px
}

.container i{
    margin-left: 15px;
}
