@media screen and (min-width:768px){
        
    .landing-page-hero-text{
        width: 60%;    
    }

    .employee{
        flex-direction: row;
    }
    
    .employee:nth-of-type(even){
        flex-direction: row-reverse;
    }
    
    .employee:nth-of-type(even) .employee-pic {
        margin-right: 0;
        margin-left: 50px;
    }
    
    .employee-text{
        text-align: left;
    }
    
    .employee:nth-of-type(even) .employee-text{
        text-align: right;
    }

    .employee-pic{
        margin-right: 50px;
        margin-bottom: 0;
        margin-right: 50px;
    }

    .box-container{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;
        grid-column-gap: 2%;
        width: 100%
    }
}